


.header {
      background-size:cover;
      min-height:100vh;
      position:relative;
      color:white;
      text-shadow:2px 2px 2px rgba(0,0,0.2);

}
.display-1 {
      font-size:10rem;
}
iframe {
      margin:20px;
      padding:20px;
}
a:link, a:visited, a:hover, a:active{
      text-decoration: none;
      color: white;
}





